apiVersion: apps/v1
kind: Deployment
metadata:
  name: registration-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: registration-app-aws
  template:
    metadata:
      labels:
        app: registration-app-aws
    spec:
      containers:
      - name: registration-app-aws
        image: speedskillsx/registration-app-aws:1.0.0-50
        resources:
          limits:
            memory: "256Mi"
            cpu: "500m"
        ports:
        - containerPort: 8080
